<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CentraNo2-Bold.otf</string>
		<string>CentraNo2-BoldItalic.otf</string>
		<string>CentraNo2-Light.otf</string>
		<string>CentraNo2-LightItalic.otf</string>
		<string>CentraNo2-Medium.otf</string>
		<string>CentraNo2-MediumItalic.otf</string>
		<string>CentraNo2-Reg.otf</string>
		<string>CentraNo2-RegItalic.otf</string>
	</array>
</dict>
</plist>
